* {
  margin: 0;
  font-family: "Clash Display";
}


@font-face {
  font-family: "Clash Display";
  src: url("../public/Assets/Fonts/ClashDisplayRegular.otf");
}

@font-face {
  font-family: "Clash Display Bold";
  src: url("../public/Assets/Fonts/ClashDisplayBold.otf");
}

@font-face {
  font-family: "Clash Display Semibold";
  src: url("../public/Assets/Fonts/ClashDisplaySemibold.otf");
}

body {
  overflow: auto;
}