* {
  margin: 0;
  font-family: "Clash Display";
}

.night-mode {
  background-color: #333;
  color: #fff;
  transition: .8s;
}

#nightmode-btn {
  color: #fff;
  background-color: #000;
  padding: 4px 10px;
  position: absolute;
  border: none;
  border-radius: 4px;
  margin: 8px;
  cursor: pointer;
}

.nightmode {
  font-family: "Clash Display Semibold";
}


@font-face {
  font-family: "Clash Display";
  src: url("../public/Assets/Fonts/ClashDisplayRegular.otf");
}

@font-face {
  font-family: "Clash Display Bold";
  src: url("../public/Assets/Fonts/ClashDisplayBold.otf");
}

@font-face {
  font-family: "Clash Display Semibold";
  src: url("../public/Assets/Fonts/ClashDisplaySemibold.otf");
}

body {
  overflow: auto;
}